.home-screen {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
}

.home-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.home-box {
  background-color: white;
  width: 340px;
  height: 115px;
  margin-bottom: 55px;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  display: flex;
  justify-content: space-between;
}

.home-icon-box {
  width: 81px;
  height: 81px;
  border-radius: 10px;
  position: relative;
  top: -20px;
  left: 25px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-self: end;
  position: relative;
  top: 27px;
  right: 27px;
}

.home-title {
  color: black;
  opacity: 50%;
  font-size: 19px;
  font-family: 'NunitoBold';
}

.home-text {
  color: black;
  opacity: 75%;
  font-size: 25px;
  font-family: 'NunitoExtraBold';
}

.home-blue {
  background-color: #497afe;
}

.home-green {
  background-color: #1ec856;
}

.home-purple {
  background-color: #b649fe;
}

.home-orange {
  background-color: #fe8d49;
}
