@import '~rfs/scss';

.welcome-background {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    315deg,
    rgba(189, 207, 255, 1) 0%,
    rgba(72, 121, 254, 1) 100%
  );
}

.welcome-body {
  margin-top: 4.5rem;
  flex-direction: column;
  justify-content: center;
}

.welcome-title {
  color: white;
  font-family: 'NunitoBlack';
  text-align: center;
  @include font-size(4.25rem);
}

.welcome-subtitle {
  color: white;
  font-family: 'NunitoSemiBold';
  text-align: center;
  @include font-size(1.45rem);
}

.welcome-button-container {
  margin-top: 6rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.welcome-button {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  width: 16rem;
  height: 13.5rem;
  border: 2px;
  border-radius: 50px;
  border-color: white;
  border-style: solid;
  transition: all 0.2s ease-in-out;
}

.welcome-button:hover {
  transform: scale(1.05);
}

.welcome-import-button-icon {
  margin: 0.5rem;
  width: 8rem;
  height: 8rem;
  position: relative;
  left: 0.75rem;
}

.welcome-create-button-icon {
  margin: 0.5rem;
  width: 8.5rem;
  height: 8rem;
  position: relative;
  left: 2rem;
}

.welcome-button-image {
  margin: 1rem;
  max-width: 100%;
}

.welcome-button-text {
  margin-top: 2rem;
  color: white;
  font-family: 'NunitoSemiBold';
  text-align: center;
  @include font-size(1rem);
}
