.password-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-title {
  margin-top: 50px;
  color: rgba(74, 74, 74);
  font-family: 'NunitoBold';
  font-size: 32px;
  text-align: center;
}

.password-subtitle {
  color: rgba(74, 74, 74);
  font-family: 'NunitoSemiBold';
  font-size: 18px;
  text-align: center;
}

.password-text-box {
  width: 325px;
  margin-top: 10px;
}

.password-button-container {
  margin-top: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.password-button-no-hover {
  width: 271px;
  height: 60px;
  border-radius: 50px;
  background-color: rgba(72, 121, 254, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  transition: all 0.2s ease-in-out;
}

.password-button {
  width: 271px;
  height: 60px;
  border-radius: 50px;
  background-color: rgba(72, 121, 254, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  transition: all 0.2s ease-in-out;
}

.password-button:hover {
  background-color: rgba(72, 121, 254, 0.8);
  transform: scale(1.05);
}

.password-button-text {
  margin-top: 15px;
  color: white;
  font-family: 'NunitoBlack';
  font-size: 19px;
  text-align: center;
}

.password-button-icon {
  margin-right: 15px;
}
